@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: block;
}

nav {
  background-color: #287e64;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav .hamburger {
  display: none;
}

nav ul {
  padding-inline: 4rem;

  display: flex;
  gap: 2rem;
}

nav li {
  list-style-type: none;
}

nav a {
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  font-weight: bold;
  font-size: 17px;
  background-color: #05fac5;
  color: white;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

aside {
  flex: 1;
}

h2,
h3 {
  color: #287e64;
}

footer {
  padding: 20px;
  color: #fff;
  text-align: center;
  background-color: #287e64;
}

.profile header {
  text-align: center;
}

.feature-image {
  width: 100%;
  max-height: 500px;

  object-fit: cover;
  object-position: center;
}

.card {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.personal-image {
  height: 200px;
}

/* slide show image */
.slideshow {
  display: none;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #287e64;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #05fac5;
}

.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
    display: none;
  }

  nav .hamburger {
    display: block;
    color: #fff;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  nav ul.expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #287e64;
    top: 100%;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  nav ul.expanded li {
    margin: 10px;
  }

  nav ul.expanded li a {
    color: #fff;
  }
}
